@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<!--About Page-->
<!--Page Content-->
<div class="text-center">
    <h1 class="display-4">About Me!</h1>
</div>

<!--Informations-->
<!--<strong>A</strong> => To Bold Wording-->
<div>
	<h1>Personal Information</h1>
	<p><strong>Name</strong>: Affan Najiy Rusdi</p>
	<p><strong>Gender</strong>: Male</p>
	<p><strong>Age</strong>: 19</p>

	<h1>Education</h1>
	<p><strong>Student ID</strong>: 22010453</p>
	<p><strong>Programme</strong>: Bachelor of Computer Science</p>
	<p><strong>Course</strong>: Object Oriented Programming</p
	<p><strong>Year</strong>: 1 Year 2nd Semester</p>
	<p><strong>University</strong>: Universiti Teknologi Malaysia</p>
</div>
