@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Home Page-->
<!--Page Content-->
<div class="text-center">
    <h1 class="display-4">Welcome, Hi I'm 'Affan!</h1>
    <h1 class="display-6">Nice to meet you.</h1>
</div>

<!--Clock Section-->
<div class="text-center">
    <h2>Current Time</h2>
    <!--id="clock": Gives a unique identifier to the div-->
    <div id="clock" style="background-color: orange; font-size: 50px; padding: 20px; display: inline-block;"></div>
</div>

<!--Image Section-->
<div style="text-align: center; margin-top: 20px;">
    <img src="~/NICHOLAS &TEAM.jpeg" class="cover" width="640" height="960" alt="Nicholas">
</div>