@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!--Privacy Page-->
<h1>@ViewData["Title"]</h1>

<h1>Privacy Notice</h1>
<p>I need privacy.💅</p>
<p>Please don't be 𝓯𝓻𝓮𝓪𝓴𝔂 about it.</p>

<!--Insert Link-->
<p>
    Please Stream &Team Supernova
    <!--target="_blank": Open in new tab-->
    <a href="https://www.youtube.com/watch?v=SY-Oe1lk-Fo" target="_blank" style="color:blue;">Click Here!</a>
</p>