@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.google.com">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
	<!--List Number-->
	<h1 class="display-4">List Number</h1>
    <p>1. Number 1</p>
	<p>2. Number 2</p>
	<p>3. Number 3</p>
	<p>4. Number 4</p>
	<p>5. Number 5</p>
</div>